<div>
  <a id="mlh-trust-badge" href="https://mlh.io/seasons/na-2017/events?utm_source=na-2017&utm_medium=TrustBadge&utm_campaign=na-2017&utm_content=black" target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/2017/black.svg" alt="Major League Hacking 2017 Hackathon Season" style="width:100%"></a>
  <div id="index-banner" class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h2 class="header center red-text text-darken-2">Learn. Hack. Compete.</h2>
        <div class="row center">
          <h5 class="header col s12 light">An open for all WPI Hackathon, for both hardware and software!</h5>
        </div>
        <div class="row center">
          <h5 class="header col s6 m5 light" style="margin-top:0px; float: left; display: block">
            <i class="small material-icons">today</i> Jan. 12 - 14th
          </h5>
          <h5 class="header col s6 m5 light" style="margin-top:0px; float: right; display: block">
            <i class="small material-icons">room</i> WPI Odeum
          </h5>
          <!--<a class="col s12  m2 btn-large waves-effect waves-light red darken-1 typeform-share"
           style="float: left; display: inline-block">Coming Soon!</a>-->
           <%= link_to "Registration", "pages/registration", 
            class: "col s12 m2 btn-large waves-effect waves-light red darken-1 typeform-share",
            style: "float: left; display: inline-block" %>
            <a id="cocbutton" class="col s8 push-s2 btn waves-effect waves-light grey darken-1" style="margin-top:5px" href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf" data-mode="1" target="_blank">MLH Code</a>
            <a class="col s6 pull-s1 btn waves-effect waves-light grey darken-1" style="margin-top:5px" href="http://bit.ly/2iRGpAn" data-mode="1" target="_blank">Slack Chatroom</a>
            <a class="col s6 push-s1 btn waves-effect waves-light grey darken-1" style="margin-top:5px" href="https://hack-wpi-2017-4612.devpost.com/" data-mode="1" target="_blank">Devpost Link</a>
            

        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><%= image_tag "background1.jpg", alt: "unsplashed background img 1" %></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icpathon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">grade</i></h2>
            <h5 class="center">Learn</h5>
            <p class="light">Participate in the workshops taught by experienced students and learn everything you need to take your project from idea to reality. Ask currently employed Mentors for help when needed.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Hack</h5>
            <p class="light">Work all weekend long to build and hack your project together. We provide food, snacks, drinks, and entertainment; everything you need to stay focused and have fun for the whole event.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Compete</h5>
            <p class="light">Present your project at the end of the hackathon to our panel of judges, and win various prizes! Grand prizes are available for the top three teams, the best overall, the best software, and the best hardware project. Additionally, smaller prizes will also be available for various categories.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <%= image_tag "cosponsors.png", alt: "cosponsoring clubs", class: "responsive-img" %>
        </div>
      </div>
    </div>
    <div class="parallax">
      <%= image_tag "background2.png", alt: "Unsplashed background img 2"%>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center" style="margin-top: -40px; margin-bottom: -50px;">
          <div class="icon-block">
            <h1 class="center brown-text"><strong>&#11014;</strong></h1>
            <h5 class="center">Organizing Club</h5>
            <p class="light">Hack @ WPI is run by the local ACM chapter. The event would not be possible without their support!</p>
            <div class="divider"></div>
            <h5 class="center">Sponsoring Companies</h5>
            <p class="light">Hack @ WPI is proud to announce that the companies below are all part of making the event a reality.</p>
            <h1 class="center brown-text"><strong>&#11015;</strong></h1>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <%= image_tag "sponsors.png", alt: "sponsoring organizatoins", class: "responsive-img" %>
        </div>
      </div>
    </div>
    <div class="parallax">
      <%= image_tag "background3.png", alt: "Unsplashed background img 3"%>
    </div>
  </div>

  <footer class="page-footer red darken-2">
    <div class="container">
      <div class="row">
        <h5 class="white-text">Interested in Sponsoring or Co-Sponsoring?</h5>
        <div class="col l6 s12">
          <p class="grey-text text-lighten-4">For any inquiries regarding sponsoring the event as a company or co-sponsoring the event as an on campus club, please email <a class="white-text" href="mailto:hack@wpi.edu?subject=[Hackathon]" target="_top"><u>hack@wpi.edu</a></u>, and we will happily discuss it with you!</p>
        </div>
      </div>
      <div class="row">
        <h4 class="white-text">FAQ</h4>
        <div class="col l6 s6">
        <h5 class="white-text">When does registration close?</h5>
          <p class="grey-text text-lighten-4">Registration officially closes on Monday, January 9th, 11:59pm.</p>
        </div>
        <div class="col l6 s6">
        <h5 class="white-text">Will there be travel reimbursements?</h5>
          <p class="grey-text text-lighten-4">Due to our size this year, we will not be providing traveling reimburstments. We hope next year we will be bigger and will able to do so.</p>
        </div>
        <div class="col l6 s6">
        <h5 class="white-text">How do I know I'm registered?</h5>
          <p class="grey-text text-lighten-4">If you haven't got an email from us saying you've been registered, that means you're currently on the waitlist, and will be added as people unregister.</p>
        </div>
        <div class="col l6 s6">
        <h5 class="white-text">I am officially registered but now I want to unregister, how do I do that?</h5>
          <p class="grey-text text-lighten-4">Please email us at <a class="white-text" href="mailto:hack@wpi.edu?subject=[Unregister for Hack@WPI]" target="_top"><u>hack@wpi.edu</a></u>, so that we can let those who are in the waitlist in.</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      For issues, please contact <a class="white-text" href="mailto:acm@wpi.edu?subject=[Site]" target="_top"><u>acm@wpi.edu</a>
      </div>
    </div>
  </footer>
</div>
